/* #toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fcfaff;;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin-bottom: 1rem;
  height: max-content;
  align-content: center;
  padding: 0px;
}

.ql-snow.ql-toolbar button{
  width: auto;
}

#math {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: small;
  min-width: 5rem;
}
#select {
  margin-right: 10px;
  width: 10rem;
  color: black;
  height: fit-content;
}

.MathField {
  margin-right: 10px;
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: small;
  min-width: 10rem;
  min-height: 3rem;
  max-width: 10rem;
}

#container {
  display: flex;
  color: var(--background);
}

#container .text {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
}

#container #menu-wrap {
  position: relative;
  height: 25px;
  width: 25px;
}

#container #menu-wrap .dots {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#container #menu-wrap .dots > div,
#container #menu-wrap .dots > div:after,
#container #menu-wrap .dots > div:before {
  height: 4px;
  width: 4px;
  background-color: rgba(49, 49, 49, 0.8);
  border-radius: 50%;
}

#container #menu-wrap .dots > div {
  position: relative;
}

#container #menu-wrap .dots > div:after {
  content: "";
  position: absolute;
  bottom: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .dots > div:before {
  content: "";
  position: absolute;
  top: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .menu {
  right: -10px;
  top: calc(-12px + 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
#div-menu.div-menu {
  border: 1px solid;
  z-index: 5;
  background-color: var(--custombg);
  margin-top: 20px;
}
#container #menu-wrap .menu ul {
  list-style: none;
  border-color: var(--border);
}

#container #menu-wrap .menu ul li .button {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.85);
  opacity: 0;
  visibility: hidden;
}

#container #menu-wrap .toggler {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 2;
}

#container #menu-wrap .toggler:checked + .dots > div {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:after {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:before {
  -webkit-transform: translateX(
      calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812))
    )
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  -ms-transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
}

#container #menu-wrap .toggler:checked:hover + .dots > div,
#container #menu-wrap .toggler:checked:hover + .dots > div:after,
#container #menu-wrap .toggler:checked:hover + .dots > div:before {
  background-color: rgba(49, 49, 49, 0.6);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:checked ~ .menu {
  opacity: 1;
  visibility: visible;
  width: fit-content;
  height: 100px;

}

#container #menu-wrap .toggler:checked ~ .menu ul .link {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease 0.3s;
  -o-transition: 0.5s ease 0.3s;
  transition: 0.5s ease 0.3s;
}


#container #menu-wrap .toggler:not(:checked) ~ .menu ul .link {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 600px) {
  #container {
    position: absolute;
    top: 50px;
    width: calc(100% - 40px);
    margin: 0;
  }
}

   .importModal .items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;
  }
  .importModal .items button {
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    border: 0.5px solid #3a3a3a;
    border-radius: 5px;
  }
  .importModal .items button.items-list{
    background-color: red;
  }
  /*.importModal .items button:hover {
    border: 1px solid #fff;
    color: #fff;
  }

  .importModal .items button p.import-data{
    color: red;
  }

   #modal {
    min-width: 230px;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    width: fit-content;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 10;
  }
  
  #modal input {
    width: 100%;
    height: 2.75rem;
    padding: 8px;
    font-size: 1.25rem;
  }
  #modal .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #modal .controls button {
    font-weight: bold;  
    margin: 5px;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    background-color: #1d1d1d;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    font-size: 18px;
    opacity: 0.6;
    color: #fff;
    transition: 0.5s;
  }
  #modal .controls button:hover {
    opacity: 1;
    color: #fff;
  }
  
*/